*{
  box-sizing: border-box;
}
#root {
  height: 100vh
}
.container{



  height:100%;

}
.secOne{
  height:80%;
}
.inputName.name{
  width:17%;
  transform: translateX(-30%);
}
.foodList{
  width: 40%;
}